services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: unless-stopped
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    profiles: ["dev", "prod"]

  # BACKEND — DEV
  backend-dev:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: backend-dev
    restart: unless-stopped
    env_file: ./backend/.env
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    volumes:
      - ./backend/src:/app/src
      - ./backend/target:/app/target
      - ./backend/pom.xml:/app/pom.xml
      - ./backend/uploads:/app/uploads
      - maven-repo:/root/.m2/repository
    environment:
      SPRING_DEVTOOLS_RESTART_TRIGGER_FILE: /tmp/.restart-trigger
      SPRING_DEVTOOLS_RESTART_ENABLED: true
    profiles: ["dev"]

  # BACKEND — PROD
  backend-prod:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    container_name: backend
    restart: unless-stopped
    env_file: ./backend/.env
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    profiles: ["prod"]

  # FRONTEND — DEV
  frontend-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend-dev
    env_file:
      - ./frontend/.env
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    depends_on:
      - backend-dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    profiles: ["dev"]

  # FRONTEND — PROD
  frontend-prod:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    container_name: frontend
    env_file:
      - ./frontend/.env
    depends_on:
      - backend-prod
    ports:
      - "3000:3000"
    restart: unless-stopped
    profiles: ["prod"]

volumes:
  postgres_data:
  maven-repo:
